[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.12"
djangorestframework = "*"
pusher = "==2.1.4"

[dev-packages]
pytest = "*"
pytest-django = "*"
tox = "*"
sphinx = "*"
coverage = "*"

[requires]
python_version = "3.6"
