[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0"
djangorestframework = "*"
pusher = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.6"
